<div class="container mt-3">
    <h4 class="text-center mb-4">
        Viewing <%= file.name %>
    </h4>

    <!-- Pagination & Search bar -->

    <div class="d-flex flex-row-reverse justify-content-between align-items-center flex-wrap">
        <form action="/<%= file.id %>/view" method="get" class="d-flex align-items-center" role="search">
            <select class="form-select" name="searchCol" id="datalistOptions">
                <option selected disabled>Select Column</option>
                <% file.headers.forEach(header=>{ %>
                    <option value="<%= header %>">
                        <%= header %>
                    </option>
                    <% }) %>
            </select>

            <input class="form-control me-2" name="searchInput" type="search" placeholder="Search Input"
                aria-label="Search" autocomplete="off">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <div>
            <!-- Viewing Page count, disabling of Prev & Next button based on page number -->
            <span>Page <%= file.currentPage %> of <%= file.totalPages %>&nbsp;&nbsp;</span>
            <% let prevDisabledStatus="" ; let nextDisabledStatus="" ; %>
                <% if(file.currentPage==1) {prevDisabledStatus="disabled" } %>
                    <% if (file.currentPage==file.totalPages) {nextDisabledStatus="disabled" }; %>
                        <% let prevQueryString=`page=${(file.currentPage - 1)}`;%>
                            <%let nextQueryString=`page=${(file.currentPage + 1)}` %>
                                <% if(file.filtered){prevQueryString+="&filtered=true" ;
                                    nextQueryString+="&filtered=true" } %>
                                    <a class="btn btn-outline-primary <%=prevDisabledStatus %>"
                                        href="/<%= file.id %>/view?<%= prevQueryString  %>">Prev</a>
                                    <a class="btn btn-outline-primary <%=nextDisabledStatus %>"
                                        href="/<%= file.id %>/view?<%= nextQueryString %>">Next</a>
        </div>
    </div>

    <!-- Table view of CSV file -->

    <div class="table-responsive m-auto my-3 border border-2">
        <table class="table table-bordered table-hover align-middle">
            <thead class="sticky-top" style="box-shadow: inset 0 1px 0 grey, inset 0 -1px 0 gray;">
                <tr>
                    <% file.headers.forEach(header=>{ %>
                        <th scope="col">
                            <%=header%>
                        </th>
                        <% }) %>
                </tr>
            </thead>
            <tbody id="csvViewTable">

                <% if(!file.data || file.data.length==0) {%>
                    <tr class="text-center">
                        <td colspan="<%= file.headers.length %>">No rows to display</td>
                    </tr>
                    <% } else {%>

                        <% file.data.forEach(row=>{ %>
                            <tr>
                                <% file.headers.forEach(col=>{ %>
                                    <td>
                                        <%= row[col] %>
                                    </td>
                                    <% }) %>
                            </tr>

                            <% }) %>

                                <% } %>
            </tbody>
        </table>
    </div>

    <!-- Visualization through charts -->
    <div class="m-auto my-5">

        <h4 class="mb-3">Visualize Data</h4>

        <div class="d-flex align-items-center">
            <div class="me-5">
                <select class="form-select" name="col" id="visCol">
                    <option selected disabled>Select Column</option>
                    <% file.headers.forEach(header=>{ %>
                        <option value="<%= header %>">
                            <%= header %>
                        </option>
                        <% }) %>
                </select>
            </div>
            <button class="btn btn-outline-primary" onclick="visualize()">Visualize</button>
        </div>

        <div id="myPlot" style="width:100%;max-width:700px">
        </div>
        <script>
            function visualize() {
                const fileData = JSON.parse(`<%- JSON.stringify(file.data) %>`);
                const col = document.getElementById("visCol").value;
                console.log(col)

                const result = Object.groupBy(fileData, (row) => row[col]);
                console.log(result);

                const xArray = [];
                const yArray = [];

                for (let key in result) {
                    xArray.push(key);
                    yArray.push(result[key].length)
                }

                // Define Data
                const data = [{
                    x: xArray,
                    y: yArray,
                    type: "bar",
                    orientation: "v",
                    marker: { color: "rgba(0,0,255)" }
                }];

                // Define Layout
                const layout = {
                    xaxis: { title: `${col}` },
                    yaxis: { range: [Math.min(yArray) < 0 ? Math.min(yArray) : 0, Math.max(yArray)], title: "Value Counts" },
                    title: `${col} value counts`
                };

                // Display using Plotly
                Plotly.newPlot("myPlot", data, layout);
            }

        </script>
    </div>
</div>